*{
    margin:0px;
    padding:0px;
}
html,body{
    font-family:'Roboto',sans-serif, arial;
    font-size:15px;
}
.width-100{
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}
 .width-25 .size{
    width:40%;

}
.button-job-post{
    background-color:blueviolet;
    color:white;
    text-decoration:none;
    padding:10px;
    border:none;
    font-size:14px;
    border-radius:2px;
    float:left;

}
.header-menu{
    list-style:none;
}
.button-job-resume{
    background-color:hotpink;
    color:white;
    text-decoration:none;
    padding:10px;
    border:none;
    font-size:14px;
    border-radius:2px;
    
    margin-left:5px;

}
.header-menu a{
    text-decoration:none;
    font-size:17px;
    padding:10px;
    font-weight:700;
}
.header-menu li{
    float:left;
}
.width-25{
    display:flex;
    width:25%;
   
    align-items:center;
    justify-content:center;
    
}
.width-50{
    display:flex;
    width:50%;

    align-items:center;
    justify-content:center;
}
.background{
    background-image:url("business-people-blue-background_53876-101889.jpg");
    flex-direction:column;
    align-items:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:350px;
    width:100%;

}

.heading{
    margin-top:40px;
    font-size:35px;
    color:white;
}
.para{
    padding-top:10px;
    color:white;
}
.job-search{
    height:40px;
    width:100%;
    padding-left:10px;
    border-top:none;
    border-bottom:none;
    border-right:none;
    border-width:1px;
    border-color:#d9d9d9;
    
}
.search-button{
    height:40px;
    width:100%;
    background-color:tomato;
    border:none;
    color:white;
}
.search{
    width:20%;
    padding-top:40px;

}
.align{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.icon{
    padding-right:3px;
}
.width-33{
    width:33%;
    height:100%;
    
}
.it{
 width:100%;
 height:100%;
}


.skill{
    background-color:lightgray;
    align-items:center;
    justify-content:center;
    justify-content:space-between;
    height:150px;
  
}
.list-item{
    display:flex;
    background-color:white;
    width:15%;
    height:60%;

}
.container{
    width:100%;
    text-align:center;
}

.width-66{
    width:66%;
    height:100%;
    position:relative;
    padding-top:10px;
    padding-left:20px;
}
.view-button{
    position:relative;
    top:10px;
    border:none;
    border-radius:10px;
    width:50%;
    background-color:orangered;
    color:white;
    height:25px;
}
.last{
    position:relative;
    right:20px;
}
.first{
    position:relative;
    left:20px;
}